form {
    max-width: 400px;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-field.ng-touched.ng-invalid {
    border-color: red;
}
  
.error-message {
    color: red;
    font-size: 0.8rem;
    display: flex;
    align-items: flex-end;
    gap: 3px;
}