<h2>Forgot your password ?</h2>
<p *ngIf="!isMailSent">Enter the e-mail address associated with your account below. You will receive an email with a link to reset your password.</p>
<form *ngIf="!isMailSent">
    <label for="forgot-password">Please enter your password below:</label>
    <input type="email" id="forgot-password" name="forgot-password" placeholder="email@example.com" [formControl]="emailFormControl">
    <button app-button icon="send" text="Send" class="btn green-tonal-btn no-outline" (click)="sendResetMail()"></button>
</form>

<!-- "Contact our support" à faire plus tard -->
<div *ngIf="isMailSent">
    <p>If an account is associated with this address, you will receive an email in a few minutes with a link to reset your password.</p>
    <p>Check your inbox (and your spam). Click on the link in the email to choose a new password.</p>
    <p>If you don't receive anything after a few minutes, try resending the request or contact our support.</p>
</div>


