<div>
    <label for="tag-name">New tag name: </label>
    <input type="text" id="tag-name" name="tag-name" placeholder="New tag" formControlName="tagname">
    <button (click)="openColorForm()" [ngClass]="tagColor"></button>
</div>
<div class="choices-btn">
    <button app-button text="Save" [disabled]="tagForm.invalid" class="btn text-only-btn no-outline" [ngClass]="tagForm.invalid ? 'grey-tonal-btn' : 'green-tonal-btn'" (click)="saveData(true)"></button>
    <button app-button text="Cancel" class="btn text-only-btn grey-outline not-filled-btn" (click)="saveData(false)"></button>
</div>

<color-form [ngClass]="isTagFormVisible ? 'show-form' : 'hide-form'" (saveColor)="handleTagFormClose($event)"></color-form>
