<div class="check">
    <input type="checkbox" id="done" name="done" (change)="checkTask()"/>
    <span *ngIf="this.task.done" class="material-symbols-outlined">check</span>
</div>
<div class="task-card-content">
    <p><span class="task-title">{{ task.title }}</span> <span>({{ task.kanban_category }})</span></p>
    <p class="description-date" *ngIf="task.description || task.due_date">
        <span class="description" *ngIf="task.description">
            <span class="material-symbols-outlined">notes</span>
            <span>{{ truncateDescription(task.description, 15) }}</span>
        </span>
        <span *ngIf="task.due_date">
            <span class="material-symbols-outlined">acute</span>
            <span class="due-date-span">{{ task.due_date | date:'dd/MM/yyyy' }}</span>
        </span>
    </p>
    <p class="tags" *ngIf="tagsList.length > 0">
        <span *ngFor="let tag of tagsList">{{ tag.name }}</span>
    </p>
</div>
<div class="edit-supp">
    <button app-button icon="edit" class="icon-btn no-outline not-filled-btn" (click)="edit.emit(task)"></button>
    <button app-button icon="delete" class="icon-btn no-outline not-filled-btn" (click)="delete.emit(task)"></button>
</div>