<div class="check">
    <!-- if checked -> update task done / if not -> update task not done -->
    <input type="checkbox" id="done" name="done"/>
</div>
<div class="task-card-content">
    <p>{{ task.title }} <span>({{ task.kanban_category }})</span></p>
    <p class="description-date" *ngIf="task.description || task.due_date">
        <span class="description" *ngIf="task.description">
            <span class="material-symbols-outlined">notes</span>
            <span>{{ truncateDescription(task.description, 30) }}</span>
        </span>
        <span *ngIf="task.due_date">
            <span class="material-symbols-outlined">acute</span>
            <span>{{ task.due_date | date:'shortDate' }}</span>
        </span>
    </p>
    <p><!-- Gérer les tags plus tard : *ngFor tag of tags : {{tag}ac} --></p>
</div>
<div class="edit-supp">
    <button app-button icon="edit" class="icon-btn no-outline not-filled-btn" (click)="edit.emit(task)"></button>
    <button app-button icon="delete" class="icon-btn no-outline not-filled-btn" (click)="delete.emit(task)"></button>
</div>