<form>
    <div class="email-container">
        <div class="email-label-input">
            <label for="sign-in-email">Email*</label>
            <input id="sign-in-email" name="sign-in-email" type="email" placeholder="john.doe@example.com" [formControl]="emailFormControl">
        </div>
        <div *ngIf="isInvalid()" class="error-message">
            <span *ngIf="emailFormControl.hasError('required')">Email is <strong>required</strong>.</span>
            <span *ngIf="emailFormControl.hasError('email')">Please enter a valid email address.</span>
        </div>
    </div>

    <div class="password-container">
        <label for="sign-in-password">Password*</label>

        <div class="password-input-button">
            <input 
            id="sign-in-password" 
            name="sign-in-password" 
            [type]="isPasswordVisible ? 'text' : 'password'"
            [formControl]="passwordFormControl"
            (keydown)="onKeyDown($event)">

            <button app-button [icon]="isPasswordVisible ? 'visibility' : 'visibility_off'" class="icon-btn not-filled-btn no-outline" (click)="togglePasswordVisibility()"></button>
        </div>        

        <div class="capslock">
            <p *ngIf="isCapsLockOn" class="error-message">
                <span class="material-symbols-outlined">warning</span> Caps Lock is on!
            </p>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
        </div>

        <a href="">Forgot your password?</a> 
    </div>
    
    <button app-button text="Sign in" class="btn sign-in-btn no-outline" [disabled]="passwordFormControl.invalid || emailFormControl.invalid" (click)="login()"></button>
</form>
  