<!-- Greetings section -->
<section>
    <!-- remplacer "user" par le nom de l'utilisateur lorsque celui-ci en aura défini un. Par défaut "user" -->
    <h1>Hello user!</h1>
    <span class="material-symbols-outlined">mood</span>
</section>

<!-- User actions section -->
<section>
    <img src="assets/icons8-user-100.png" alt="default user icon">
    <div>
        <button app-button icon="settings" class="icon-btn grey-tonal-btn no-outline"></button>
        <mat-slide-toggle>

        </mat-slide-toggle>
    </div>
</section>

<!-- Navigation -->
<section>
    <nav>

    </nav>
</section>

<!-- Log out -->
<section>
    <button app-button icon="logout" text="Log out" class="btn red-tonal-btn no-outline white-text-btn"></button>
</section>
