.list-controls {
    width: 90%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

.filters, .sort-tasks {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.filters p {
    width: 100px;
}

mat-form-field {
    height: 100%;
    max-width: 150px;
}

task-kanban {
    max-height: 72dvh;
}