.list-controls {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.view-choice {
    min-width: 145px;
}

.filters, .sort-tasks {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.filters p, .sort-tasks p {
    width: 90px;
    display: flex;
    align-items: center;
    gap: 5px;
}

mat-form-field {
    height: 100%;
    max-width: 150px;
}

task-kanban {
    max-height: 72dvh;
}