<!-- Changer le nom du titre pour celui de la to-do list dans la prochaine branche -->
<h2>{{ this.listTitle }}</h2>

<div class="list-controls">
    <!-- insérer ici le segmented button pour la vue en list / kanban -->
    <mat-button-toggle-group name="view choice" aria-label="View Choice" [(ngModel)]="chosenView" (change)="onViewChange($event)">
        <mat-button-toggle value="list">List</mat-button-toggle>
        <mat-button-toggle value="kanban">Kanban</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="filters">
        <p>Filter by: </p>
        <!-- S'occuper plus tard du style des select -->
        <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select multiple name="priority-filter" id="priority-filter" [formControl]="priority" (selectionChange)="onPriorityChange($event)">
                <mat-option *ngFor="let priority_level of priorityLevels" [value]="priority_level">{{ priority_level }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group name="operator-choice" aria-label="operator choice" [(ngModel)]="chosenOperator" (change)="onOperatorChange($event)">
            <mat-button-toggle value="AND">And</mat-button-toggle>
            <mat-button-toggle value="OR">Or</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field>
            <mat-label>Due date</mat-label>
            <mat-select multiple name="due-date-filter" id="due-date-filter" [formControl]="dueDate" (selectionChange)="onDueDateChange($event)">
                <mat-option value="today">Today</mat-option>
                <mat-option value="tomorrow">Tomorrow</mat-option>
                <mat-option value="this week">This week</mat-option>
                <mat-option value="this month">This month</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<task-list 
    *ngIf="chosenView === 'list'"
    (editTask)="openEditForm($event)" 
    (deleteTask)="openDeleteForm($event)"
    (createTask)="openNewTaskForm()">
</task-list>

<task-kanban
    *ngIf="chosenView === 'kanban'">
</task-kanban>

<task-form
    *ngIf="isEditFormVisible && selectedTask" 
    class="form"
    [taskData]="selectedTask"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<task-form
    *ngIf="isAddFormVisible" 
    class="form"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<delete-form 
    *ngIf="isDeleteFormVisible && selectedTask"
    class="form"
    [taskData]="selectedTask"
    (taskDeleted)="handleFormClose()">
</delete-form>
