<header>
    <a routerLink="/todolist">Back to lists</a>
    <h2>{{ this.listTitle }}</h2>
</header>

<div class="list-controls">
    <mat-button-toggle-group class="view-choice" name="view choice" aria-label="View Choice" [(ngModel)]="chosenView" (change)="onViewChange($event)">
        <mat-button-toggle value="list">List</mat-button-toggle>
        <mat-button-toggle value="kanban">Kanban</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="filters">
        <p>
            <span class="material-symbols-outlined">filter_list</span>
            <span>Filter by: </span>
        </p>
        <mat-form-field class="dense-2">
            <mat-label>Priority</mat-label>
            <mat-select multiple name="priority-filter" id="priority-filter" [formControl]="priority" (selectionChange)="onPriorityChange($event)">
                <mat-option *ngFor="let priority_level of priorityLevels" [value]="priority_level">{{ priority_level }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-button-toggle-group name="operator-choice" aria-label="operator choice" [(ngModel)]="chosenOperator" (change)="onOperatorChange($event)">
            <mat-button-toggle value="AND">And</mat-button-toggle>
            <mat-button-toggle value="OR">Or</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field class="dense-2">
            <mat-label>Due date</mat-label>
            <mat-select multiple name="due-date-filter" id="due-date-filter" [formControl]="dueDate" (selectionChange)="onDueDateChange($event)">
                <mat-option value="today">Today</mat-option>
                <mat-option value="tomorrow">Tomorrow</mat-option>
                <mat-option value="this week">This week</mat-option>
                <mat-option value="this month">This month</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="sort-tasks">
        <p>
            <span class="material-symbols-outlined">swap_vert</span>
            <span>Sort by: </span>
        </p>
        <mat-form-field class="dense-2">
            <mat-label>--Sorting parameters</mat-label>
            <mat-select name="sorting-parameters" id="sorting-parameters" [formControl]="sortingParameters" (selectionChange)="onParameterChange($event)">
                <mat-option value="Undefined">None</mat-option>
                <mat-option value="priority">Priority</mat-option>
                <mat-option value="due_date">Due Date</mat-option>
                <mat-option value="created_at">Creation date</mat-option>
            </mat-select>
        </mat-form-field>
        <button *ngIf="isAscending" app-button icon="arrow_upward" class="icon-btn no-outline not-filled-btn" (click)="onOrderChange()"></button>
        <button *ngIf="!isAscending" app-button icon="arrow_downward" class="icon-btn no-outline not-filled-btn" (click)="onOrderChange()"></button> 
    </div>
</div>

<task-list 
    *ngIf="chosenView === 'list'"
    (editTask)="openEditForm($event)" 
    (deleteTask)="openDeleteForm($event)"
    (createTask)="openNewTaskForm()">
</task-list>

<task-kanban
    *ngIf="chosenView === 'kanban'"
    (editTask)="openEditForm($event)" 
    (deleteTask)="openDeleteForm($event)"
    (createTask)="openNewTaskKanbanForm($event)">
</task-kanban>

<task-form
    *ngIf="isEditFormVisible && selectedTask" 
    class="form"
    [taskData]="selectedTask"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<task-form
    *ngIf="isAddKanbanFormVisible && selectedKanban" 
    class="form"
    [kanbanData]="selectedKanban"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<task-form
    *ngIf="isAddFormVisible" 
    class="form"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<delete-form 
    *ngIf="isDeleteFormVisible && selectedTask"
    class="form"
    [taskData]="selectedTask"
    (taskDeleted)="handleFormClose()">
</delete-form>
