<div class="action-btn">
    <button app-button icon="keep" class="keep-icon icon-btn no-outline not-filled-btn"></button>
    <div class="edit-supp">
        <button app-button icon="edit" class="icon-btn no-outline not-filled-btn" (click)="edit.emit(list)"></button>
        <button app-button icon="delete" class="icon-btn no-outline not-filled-btn" (click)="delete.emit(list)"></button>
    </div>
</div>
<h3>{{ list.title }}</h3>
<p><span>{{totalTasks}}</span> tasks </p>
<!-- ATtention le remplissage ne s'effectue pas correctement dans le svg -->
<svg width="130" height="130" viewBox="-20 -20 200 200" version="1.1" xmlns="http://www.w3.org/2000/svg" style="transform:rotate(-90deg)">
    <circle r="85" cx="80" cy="80" fill="transparent" stroke="#e0e0e0" stroke-width="9"></circle>
    <circle r="85" cx="80" cy="80" stroke="#76e5b1" stroke-width="9" stroke-linecap="round" stroke-dashoffset="92px" fill="transparent" stroke-dasharray="439.6px"></circle>
</svg>
<p class="taskRatio">{{totalDoneTasks}} / {{totalTasks}}</p>
<p class="taskPercentage">{{percentage}}%</p>
<!-- changer la couleur des strokes en fonction du paramètre choisi par l'utilisateur -->

<!-- diagramme rond qui permet de visualiser les tâches faites sur le total -->

<a routerLink='/todolist/{{list.id}}' role="button" class="btn outlined grey-outline not-filled-btn">View</a>