<div class="action-btn">
    <button app-button icon="keep" class="icon-btn no-outline not-filled-btn" [ngClass]="list.pinned ? 'pinned' : 'keep-icon'"></button>
    <div class="edit-supp">
        <button app-button icon="edit" class="icon-btn no-outline not-filled-btn" (click)="edit.emit(list)"></button>
        <button app-button icon="delete" class="icon-btn no-outline not-filled-btn" (click)="delete.emit(list)"></button>
    </div>
</div>
<h3>{{ list.title }}</h3>
<p><span>{{totalTasks}}</span> tasks </p>
<circle-progress
    [percent]="percentage"
    [outerStrokeWidth]="8"
    [innerStrokeWidth]="4"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animationDuration]="500"
    [title]="totalDoneTasks.toString() + ' / ' + totalTasks.toString()"
    [subtitle]="percentage.toString() + '%'">
</circle-progress>
<!-- changer la couleur des strokes en fonction du paramètre choisi par l'utilisateur -->

<button app-button text="View" class="btn outlined grey-outline not-filled-btn" (click)="goToList()"></button>