.edit-supp {
    display: flex;
    gap: 5px;
}

.keep-icon {
    transition: 0.3s;
}

.keep-icon:hover {
    rotate: 45deg;
}

h3 {
    margin: 5px 0;
}

p {
    margin: 0;
}

.taskRatio, .taskPercentage {
    position: absolute;
    font-size: 24px;
}

.taskRatio {
    bottom: 120px;
}

.taskPercentage {
    bottom: 90px;
}

a {
    box-sizing: border-box;
    font-size: 18px;
    text-decoration: none;
    color: var(--text-black);
}