<form [formGroup]="taskForm">    
    <div>
        <div>
            <input type="checkbox" id="checktask" name="checktask">
            <div>
            <input type="text" id="task-title" name="task-title" placeholder="Title" formControlName="title">
            <p>Category:
                <select name="kanban-categories" id="kanban-categories" formControlName="kanban_category">
                    <option *ngFor="let kanban_category of kanbanCategories" [value]="kanban_category">{{ kanban_category }}</option>
                    <!-- Pour chaque catégorie existante du type kanban_category : afficher une option -->
                </select>
            </p>
            </div>
            <!-- Au click : le formulaire se ferme -->
            <button app-button icon="close" class="icon-btn not-filled-btn no-outline" (click)="closeForm()"></button>
        </div>
        <div>
            <textarea placeholder="Deescription" formControlName="description"></textarea>
            <hr />
        </div>
        <ul>
            <li>
                <span class="material-symbols-outlined">acute</span>
                <label for="due-date">Due date: </label>
                <input type="date" id="due-date" name="due-date" formControlName="due_date">
            </li>
            <li>
                <p>Priority: </p>
                <div id="priority-segmented-buttons">
                    <label for="high-priority">High</label>
                    <input type="radio" name="priority" id="high-priority" formControlName="priority">
                    <label for="medium-priority">Medium</label>
                    <input type="radio" name="priority" id="medium-priority" formControlName="priority">
                    <label for="low-priority">Low</label>
                    <input type="radio" name="priority" id="low-priority" formControlName="priority">
                </div>
            </li>
            <li>
                <p>Tags: </p>
                <!-- For tag in tags table : display tag sous forme de bouton checkbox -->
                <!-- Cliquer sur le bouton ouvre un formulaire de création de tag -->
                <button app-button icon="add" class="icon-btn not-filled-btn no-outline" (click)="openNewTagForm()"></button>
            </li>
        </ul>
    </div>
    <div>
        <button app-button text="Save" 
            class="btn text-only-btn no-outline" 
            [disabled]="taskForm.invalid" 
            [ngClass]="taskForm.invalid ? 'grey-tonal-btn' : 'green-tonal-btn'" 
            (click)="handleSaveFormClose(true)">
        </button>
        <button app-button text="Cancel" 
            class="btn text-only-btn grey-outline not-filled-btn" 
            (click)="closeForm()">
        </button>
    </div>
</form>

<save-form 
    *ngIf="isSaveFormVisible"
    class="form" 
    (saveData)="handleSaveFormClose($event)">
</save-form>

<tag-form 
    *ngIf="isTagFormVisible"    
    class="form" 
    (saveData)="handleTagFormClose()">
</tag-form>