<h2>My To-Do Lists</h2>

<div class="to-do-list-card-list">
    <to-do-list-card
        *ngFor="let list of todolists"
        [list]="list"
        [totalTasks]="totalTasksMap[list.id] || 0"
        [totalDoneTasks]="totalDoneTasksMap[list.id] || 0"
        [percentage]="tasksPercentage[list.id] || 0">
        <!-- implementer :
        
        (edit)="onEdit(list)"
        (delete)="onDelete(list)"
        
        -->
    </to-do-list-card>
</div>

<button app-button icon="add" text="Add" class="add-btn extended-fab-btn green-tonal-btn no-outline" (click)="onCreate()"></button>