ul {
    padding-left: 0;
    display: flex;
    gap: 20px;
    max-height: 60dvh;
}

ul li {
    width: 31dvw;
    max-height: 100%;
}

task-card {
    max-width: 90%;
}

.kanban-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0px 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--grey-tonal-btn);
}

.kanban-task-list {
    overflow-y: scroll;
    max-height: 100%;
}