ul {
    display: flex;
    gap: 30px;
}

ul li {
    max-width: 30dvw;
}

task-card {
    max-width: 100%;
}

.kanban-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px 40px ;
}