<div class="task-list">
    <task-card 
    *ngFor="let task of tasks" 
    [task]="task" 
    class="task-card" 
    (edit)="openEditForm(task)"
    (delete)="openDeleteForm(task)">
    </task-card>
</div>

<button app-button icon="add" text="Add" class="add-btn extended-fab-btn green-tonal-btn no-outline" (click)="openNewTaskForm()"></button>

<task-form
    *ngIf="isEditFormVisible && selectedTask" 
    class="form"
    [taskData]="selectedTask"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<task-form
    *ngIf="isAddFormVisible" 
    class="form"
    (isFormVisible)="handleFormClose()"
    (taskUpdated)="handleFormClose()">
</task-form>

<delete-form 
    *ngIf="isDeleteFormVisible && selectedTask"
    class="form"
    [task]="selectedTask"
    (taskDeleted)="handleFormClose()">
</delete-form>