<h2>Reset your password</h2>
<form *ngIf="!isPasswordReset">
    <div class="password-container">
        <div class="label-tooltip">
            <label for="reset-password">New Password:</label>
            <div class="tooltip">
                <span class="material-symbols-outlined">info</span>
                <div class="tooltip-content">
                    <ul>Password must contain:
                        <li>at least 8 characters;</li>
                        <li>at least one capital letter;</li>
                        <li>at least one digit;</li>
                        <li>at least one special character.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="password-input-button">
            <input 
            id="reset-password" 
            name="reset-password" 
            [type]="isFirstPasswordVisible ? 'text' : 'password'"
            [formControl]="resetPasswordFormControl"
            (keydown)="onKeyDown($event)"
            (keydown.enter)="reset()">

            <button app-button [icon]="isFirstPasswordVisible ? 'visibility' : 'visibility_off'" class="icon-btn not-filled-btn no-outline" (click)="togglePasswordVisibility('first')"></button>
        </div>        

        <div class="error-message password-control">
            <span *ngIf="resetPasswordFormControl.hasError('required')">A password is required.</span>
            <span *ngIf="resetPasswordFormControl.hasError('passwordTooShort')">Password must be at least 8 characters.</span>
            <span *ngIf="resetPasswordFormControl.hasError('missingUppercase')">Password must contain at least one capital letter.</span>
            <span *ngIf="resetPasswordFormControl.hasError('missingNumber')">Password must contain at least one digit.</span>
            <span *ngIf="resetPasswordFormControl.hasError('missingSpecialChar')">Password must contain at least one special character.</span>
        </div>

        <label for="reset-password-confirmation">Password confirmation*</label>
        
        <div class="password-input-button">
            <input 
            id="reset-password-confirmation" 
            name="reset-password-confirmation" 
            [type]="isSecondPasswordVisible ? 'text' : 'password'"
            [formControl]="resetPasswordConfirmationFormControl"
            (keydown)="onKeyDown($event)"
            (keydown.enter)="reset()">

            <button app-button [icon]="isSecondPasswordVisible ? 'visibility' : 'visibility_off'" class="icon-btn not-filled-btn no-outline" (click)="togglePasswordVisibility('second')"></button>
        </div>      

        <div class="password-control">
            <p *ngIf="isCapsLockOn" class="error-message">
                <span class="material-symbols-outlined">warning</span> Caps Lock is on!
            </p>
            <span *ngIf="resetPasswordConfirmationFormControl.hasError('nonMatchingPassword')" class="error-message">Passwords must be the same.</span>
        </div>
    </div>

    <button app-button text="Reset" class="btn sign-in-btn no-outline" [disabled]="resetPasswordFormControl.invalid || resetPasswordConfirmationFormControl.invalid" (click)="reset()" (keydown.enter)="reset()"></button>
</form>

<div *ngIf="isPasswordReset">
    <p>Your password has been successfully reset.</p>
    <p>You will be automatically redirected in a few seconds.</p>
    <p>If nothing happens, <a routerLink="/auth">click here</a></p>
</div>