.notes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notes-list {
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}